<div class="container card-flex">
    <div *ngFor="let product of products" style="margin: 10px;">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>{{product.name}}</mat-card-title>
                <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
            </mat-card-header>
            <img  mat-card-image src="">
            <mat-card-content>
                <p>{{product.price}}</p>
                <p>{{product.description}}</p>
            </mat-card-content>
            <mat-card-actions *ngIf="product.in_stock">
                <button mat-button (click)="onBuyClick(product)"
                        [routerLink]="['/product', product.id]">
                  Buy
                </button>
            </mat-card-actions>
            <mat-card-actions *ngIf="!product.in_stock">
                <p style="color: red;">Sold out</p>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
