<div class="container checkout-flex">
  <div>
    <mat-card class="checkout-form">
      <mat-card-title style="border-bottom: 1px solid #c9c9c9">Checkout</mat-card-title>
      <mat-card-content>
        <div class="checkout-from-container">
          <form class="checkout-form-content">
            <mat-form-field>
              <mat-label>First and last name</mat-label>
              <input matInput id="firstLastNameId"/>
              <mat-hint></mat-hint>
            </mat-form-field>
          </form>
          <form class="email-form checkout-form-content" (submit)="onSendClick()">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput id="emailInputId"
                errorStateMatcher="matcher" placeholder="example@example.com"/>
            </mat-form-field>
          </form>
          <form class="checkout-form-content">
            <mat-form-field>
              <mat-label>Phone</mat-label>
              <input matInput id="phoneId"/>
              <mat-hint></mat-hint>
            </mat-form-field>
          </form>
          <form class="checkout-form-content">
            <mat-form-field>
              <mat-label>Shipping address</mat-label>
              <input matInput id="shippingAddressId"/>
              <mat-hint></mat-hint>
            </mat-form-field>
          </form>
          <button class="checkout-form-send-button"(click)="onSendClick()">Send</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="checkout-card">
    <app-order-summary [productList]="cartItems"></app-order-summary>
  </div>
</div>
