.email-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.checkout-flex {
  display: flex;
}

.checkout-form {
  width: 300px;
  height: 540px;

  border-radius: 24px;
  border-width: 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.checkout-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkout-form-content {
  margin-left: 40px;
  margin-top: 10px;
}

.checkout-form-send-button {
  margin-top: 80px;
  margin-left: 62%;
}

.checkout-card {
  flex-direction: row;
  align-items: flex-end;
  margin-left: 31%;


  border-radius: 24px;
  border-width: 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
